body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(31, 31, 31);
}

button {
    background: none;
    border: 2px solid orange;
    padding: 20px 40px;
    color: orange;
    font-size: 40px;
    transition-duration: 0.5s;
}

button:hover {
    border-color: rgb(211, 105, 0);
    color: rgb(211, 105, 0);
    /* box-shadow: 0 0.5em 0.5em -0.5em rgb(211, 105, 0); */
    filter: drop-shadow(0 0.4em 0.1em rgb(211, 105, 0, 0.35));
    transform: translateY(-0.25em);
    transition-duration: 0.5s;
}