<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>
    <h1>The EJS home page <%= 4 + 5 + 11  %>  </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam obcaecati, cum debitis exercitationem quas delectus ea molestiae libero enim qui?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odit inventore dolores eveniet illo repudiandae magni ut, iure praesentium nisi, accusantium molestias ipsa est, enim saepe. Culpa odio sapiente quia?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor itaque et suscipit, consequatur aliquid, voluptatibus beatae obcaecati delectus animi expedita, corrupti mollitia saepe minus exercitationem fuga vero minima. Ullam, sequi!</p>
</body>