<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Homepage: Express and Mongoose Relation!</h1>
    <p><a href="/products">All Products</a></p>
    <p><a href="/farms">All Farms</a></p>
</body>
</html>