<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>
<body>
    <h1>Making a new comment!</h1>
    <form action="/comments" method="post">
        <span>Enter username: </span>
        <input type="text" name="username" placeholder="username" id="">
        <br>
        <br>
        <span>Comment text: </span>
        <br>
        <textarea name="comment" id="" placeholder="comment" cols="30" rows="10"></textarea>
        <br>
        <br>
        <button>Submit</button>
    </form>

    <hr>
    <a href="/comments">Back without commenting</a>
</body>
</html>